# Telegram Bot Configuration. Get this from @BotFather on Telegram
BOT_TOKEN="your_telegram_bot_token_here"

# IDS to send Exceptions errors to in private messages. Get this from bot healthcheck
ADMINS_CHAT_IDS="your_admins_chat_id_here"  #ADMINS_CHAT_IDS=chatid_1,chatid_2,chatid_3

# Send errors to admins in private messages
SEND_ERROR_TO_ADMIN=True

# Log Level
LOG_LEVEL=INFO  # Set the Log Level (DEBUG, INFO, WARNING, ERROR, CRITICAL)

# Access Control Settings
LIMIT_BOT_ACCESS=False  # Enable to restrict bot access to specific users/chats. False by default

# Access Lists (only used if LIMIT_BOT_ACCESS=True)
ALLOWED_USERNAMES=  # Example: "user1,user2,user3" (without @)
ALLOWED_CHAT_IDS=   # Personal chat ID or Group Chat ID. Example: "186886480,-100987654321"

# Language Settings
LANGUAGE=en  # Available options: en, ua. UA - Ukrainian by default

INSTACOOKIES=False  # Enable to use cookies for Instagram login. False by default
