# dotenv environment variables file
.env
.env.*
!.env.example
# instagram_cookies.txt should be tracked by git
instagram_cookies.txt

# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.VENV/

.codegpt
